* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
    display: inline;
}

p {
    text-align: justify;
}
.header_container {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/header-bg.jpg"); /* The image used */
    background-color: #00a2e9; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 162, 233, 0.5)
}

.header_text h1 {
    font-size: 4rem;
    padding: 1rem;
    color: #fff;
    text-align: center;
}
.header_text p {
    padding: 0.5rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .header_text h1 {
        font-size: 2rem;
    }
    .header_text p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .header_text h1 {
        font-size: 1.5rem;
    }
    .header_text p {
        font-size: 0.75rem;
    }
}


.navbar {
    background-color: #1c2201;
    overflow: hidden;
    float: right;
}
.navbar a {
    color: #fff;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
.navbar > a:hover {
    background-color: #00a2e9;
    cursor: pointer;
}
.main {
    padding: 1rem;
}
.sticky {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 10%;
}
.sticky + .main {
    padding-top: 4rem;
}
@media screen and (max-width: 768px) {
  .sticky {
      width: 20%;
  }
}

@media screen and (max-width: 480px) {
  
    .navbar {
        float: none;        
    }
    .navbar a {
        display: inline;
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: auto;
    }
  
    .sticky {
        top: 0;
        right: 0;
      width: 100%;
  }
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: #00a2e9;
    padding: 1rem;
}
#profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.01fr;
    gap: 2rem;
    width: 75vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;

}
#profile h2 {
    text-transform: capitalize;
    padding: 1rem;
    color: rgba(0, 162, 233, 0.5);
}

#profile > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    #profile {
        display: flex;
        flex-direction: column;
        height: 125vh;
    }
}
@media screen and (max-width: 480px) {
    #profile {
        display: flex;
        flex-direction: column;
        height: 100vh;

    }
}
#experiences {
    background-color: #d9d9d9;
}
#experiences > h2 {
    text-transform: capitalize;
    padding: 1rem;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 162, 233, 0.5);
}

#experiences > h3, p {
    padding: 0.5rem;
}

.education {
    width: 75vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.education > .institution {
    float: left;

}
.education > .description {
    float: right;
}
.career {
    width: 75vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.career > .office {
    float: left;
}
.career > .description {
    float: right;
}

@media screen and (max-width: 768px) {
    .education {
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    
    .education > .institution {
        float: none;

    }
    .education > .description {
        float: none;
    }
    .career {
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .career > .office {
        float: none;
    }
    .career > .description {
        float: none;
    }
}
@media screen and (max-width: 480px) {
    .education {
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .education > .institution {
        float: none;

    }
    .education > .description {
        float: none;
    }
    .career {
        height: 60vh;
        display: flex;
        flex-direction: column;
    }
    .career > .office {
        float: none;
    }
    .career > .description {
        float: none;
    }
}
#abilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 75vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;

}

#abilities h2 {
    text-transform: capitalize;
    padding: 1rem;
    color: rgba(0, 162, 233, 0.5);
}

.skill_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill_item > h3 {
    padding: 1rem;
}
.skill_item > ul {
    padding: 1rem;
}

.language {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.language > h3 {
    padding: 1rem;
}
.language > ul {
    padding: 1rem;
}

.tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tool > h3 {
    padding: 1rem;
}
.tool > ul {
    padding: 1rem;
}
@media screen and (max-width: 1024px) {
    #abilities {
        height: 100vh;
    }
    .skill_item {
        grid-template-columns: 1fr;
    }
    .language {
        grid-template-columns: 1fr;
    }
    .tool {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    #abilities {
     height: 150vh;
     display: flex;
     flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    #abilities {
     height: 225vh;
     display: flex;
     flex-direction: column;
    }
    .skill_item {
        grid-template-columns: 1fr;
    }
    .language {
        grid-template-columns: 1fr;
    }
    .tool {
        grid-template-columns: 1fr;
    }
}

#projects {
    background-color: #d9d9d9;
}
.project {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;

}

.project figcaption {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) { 
    .project {
        height: 200vh;
        display: flex;
        flex-direction: column;
    }
    .project figcaption {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) { 
    .project {
        height: 125vh;
        display: flex;
        flex-direction: column;
    }
    .project figcap tion {
        font-size: 1rem;
    }
}

#contact {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    width: 100vw;
    height: 20vh;
    
}
#contact .info {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
@media screen and (max-width: 768px) { 
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        align-content: center;
    }
}
@media screen and (max-width: 480px) { 
    #contact {
        display: flex;
        flex-direction: column;
    }
}
